
<div ng-controller="formRutas">
	<br>
	<form name="form" class="form-horizontal">
		<div class="form-group">
			<label for="rutaFic" class="form-label col-md-2 control-label">Ruta ficticia</label>
			<div class="col-md-10">
				<input type="text" id="rutaFic" ng-model="ruta.fic" class="form-control" required>
			</div>
		</div>
			

		<div class="form-group">
			<label for="rutaReal" class="form-label col-md-2 control-label">Ruta real</label>
			<div class="col-md-10">
				<input type="text" id="rutaReal" ng-model="ruta.real" class="form-control" required>
			</div>
		</div>
		
		<input ng-click="enviar()" type="submit" class="btn btn-primary col-md-offset-2" value="Enviar">
	
		<div class="colorError" ng-show="form.$submitted">
			<div ng-show="!ruta.bandera">LA DIRECION NO EXISTE</div>
		</div>
		<div class="color2" ng-show="form.$submitted">
			<div ng-show="ruta.bandera">LA DIRECION SE AGREGO SATISFACTORIAMENTE</div>			
		</div>

	</form>


	
	
	


</div>