<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Titulo de prueba</h2>
			<p>Hola como estas Hola como estasHola como estas
			Hola como estas Hola como estasHola como estas
			Hola como estas Hola como estasHola como estas
			Hola como estas Hola como estasHola como estas</p>
			<buttom class="btn btn-primary pull-left">class pull-left</buttom>
			<buttom class="btn btn-success pull-right">class pull-ringth</buttom>
			<br>
			<br>
			<a href="#">Visitar articulo</a>
			<div class="clearfix"></div>
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-12">
			<div style="width:300px;" class="bg-success center-block">
				<p class="text-primary">
				<p>CONTENEDOR CON 300PX DE ANCHO </p>
				<p>para centrar contenedor en la fila se usa </p>
				<p>class ="center-block"</p>
				</p>

				Hola como estas Hola como estasHola como estas
				Hola como estas Hola como estasHola como estas
				Hola como estas Hola como estasHola como estas
				Hola como estas Hola como estasHola como estas
				Hola como estas Hola como estasHola como estas
			</div>
		</div>
	</div>



</div>