


<div class="container">
		
	<br>
	<div class="dropdown">
		<buttom class="btn btn-primary dropdown-toggle" type="button" 
		id="botoncito" data-toggle="dropdown" aria-extended="true">
			Botoncito <span class="caret"></span>
		</buttom>
		<ul class="dropdown-menu" role="menu" aria-labelledby="botoncito">
			<li role="presentation" class="dropdown-header">class="dropdown-header"</li>
			<li role="presentation"><a role="item" href="#">item #1 li[presentation]>a[role="item"] </a></li>
			<li role="presentation"><a role="item" href="#">item #2 li[presentation]>a[role="item"] </a></li>
			<li class="divider">divider</li>
			<li role="presentation"><a role="item" href="#">item #3 li[presentation]>a[role="item"] </a></li>
			<li role="presentation"><a role="item" href="#">item #4 li[presentation]>a[role="item"] </a></li>
			<li role="presentation"><a role="item" href="#">item #5 li[presentation]>a[role="item"] </a></li>
		</ul>

	</div>


</div>