<div class="container-fluid">
	<div class="row">
		<h1>sin links</h1>
		<div class="col-md-2">
			<button class="btn btn-primary"> btn-primary</button>
			<button class="btn btn-success"> btn-success</button>
			<button class="btn btn-info"> btn-info</button>
			<button class="btn btn-warning"> btn-warning</button>
			<button class="btn btn-danger"> btn-danger</button>
			<button class="btn btn-link"> btn-link</button>
		</div>
		<h1>Con links
		<small>para los tamaños son btn-sm</small></h1>
		<div class="col-md-2">
			<a href="" class="btn btn-primary btn-sm"> btn-primary btn-sm</a>
			<a href="" class="btn btn-success  btn-block"> btn-success btn-block</a>
			<a href="" class="btn btn-info"> btn-info</a>
			<a href="" class="btn btn-warning"> btn-warning</a>
			<a href="" class="btn btn-danger"> btn-danger</a>
			<a href="" class="btn btn-link"> btn-link</a>
		</div>
	</div>
</div>


