
<div ng-controller="homeController">
	
	<div class="container">

		<!-- Columana principal -->
	    <section class="main row">  

	        <article  class="col-md-12 ">
	                <h3>
	                	CARRUSEL IMAGENES
	                </h3>
	                <p>
						<mapa-here></mapa-here>							
	                </p>
	        </article>  
			

			<article class="col-md-10 col-sm-9 col-xs-10">
				ENFEMERIDES
			</article>
			<aside class="col-md-2 col-sm-3 col-xs-2">
				COMPRAR ENTRADAS
			</aside>
			<article class="col-md-10 col-sm-9 col-xs-10">
				NOTICIAS
			</article>
	        <aside class="col-md-2 col-sm-3 col-xs-2">
	        	CLIMA
	        </aside>
	    </section>


	    <!--
	    xs pequeño 
	    sm medio pequeño 
	    md mediano 
	    lg largo
	    para borrar errores de tamaños
	    <div class="clearfix visible-sm-block"></div>
	    columna con varias columnas de espacio el espacio se cuenta de izquierda a derecha
	    col-md-offset-numbercols
	    <div class="row">
	        <div class="col-xs-12 col-sm-6 col-md-3">
	            <p>dsjkfñlhajskdglads</p>
	        </div>  
	        <div class="col-xs-12 col-sm-6 col-md-3">
	            <p>dsjkfñlhajskdglads</p>
	        </div>
	        <div class="col-xs-12 col-sm-6 col-md-3">
	            <p>dsjkfñlhajskdglads</p>
	        </div>
	        <div class="col-xs-12 col-sm-6 col-md-3">
	            <p>dsjkfñlhajskdglads</p>
	        </div>
	    </div>
	    -->

	    
	</div>


</div>
