



<div class="container">

	<h2>Para agregar un icono se hace sin texto <small>LOs mañanos son fuentes</small></h2>

	<h1> <div class="glyphicon glyphicon-heart"></div> Lorem ipsum dolor sit amet.</h1>
	<h2> <div class="glyphicon glyphicon-barcode"></div>	 Lorem ipsum dolor sit amet.</h2>
	<h3> <div class="glyphicon glyphicon-barcode"></div>	 Lorem ipsum dolor sit amet.</h3>
	<h4> <div class="glyphicon glyphicon-barcode"></div>	 Lorem ipsum dolor sit amet.</h4>
	<h5> <div class="glyphicon glyphicon-barcode"></div>	 Lorem ipsum dolor sit amet.</h5>
	<h6> <div class="glyphicon glyphicon-barcode"></div>	 Lorem ipsum dolor sit amet.</h6>
	
	<br>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid reprehenderit, accusamus, vero culpa iusto, beatae expedita, maxime velit aperiam fugiat et voluptate recusandae accusantium consequatur magni incidunt modi. Hic, esse.</p>


	<button class="btn btn-primary">
		<span class="glyphicon glyphicon-tint">
		</span>
			button>span.Tipo de icono (el contenido va fuera del buttom)
	</button>




</div>




