<div class="container">
	<div class="row">
		<div class="col-md-2">
			<small>img.img-responsive (ADAPTA LAS IMAGENES)</small>
			<small>img.img-rounded (esquinas redondeadas)</small>
			<img class="img-responsive img-rounded" src="https://dw9to29mmj727.cloudfront.net/misc/newsletter-naruto3.png" alt="">
		</div>
		<div class="col-md-2">
			<small>img.img-circle (Imagen redonda)</small>
			<img class="img-responsive img-circle" src="https://dw9to29mmj727.cloudfront.net/misc/newsletter-naruto3.png" alt="">
		</div>
		<div class="col-md-2">
			<small>img.img-thumbnail (esquinas con borde)</small>
			<img class="img-responsive img-thumbnail" src="https://dw9to29mmj727.cloudfront.net/misc/newsletter-naruto3.png" alt="">
		</div>
	</div>
</div>