<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<meta charset="utf-8">
	 <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">

	 <link rel="stylesheet" type="text/css" href="../css/style.css">

	 <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

	 <link rel="stylesheet" type="text/css" href="../css/style.css">

	<title>Document</title>
</head>
<body>
	<header>
		<div class="container">
			<h1>HEADER</h1>
		</div>
	</header>
	<div class="container">
		<section class="main row">
			<article class="col-md-9 col-lg- col-sm-5 col-xs-12">
				<h1>TITULO CONTENIDO PRINCIPAL<small>Contenido principal</small></h1>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim accusamus iste ipsum ratione, debitis, aliquam voluptatem fugit harum ut nobis soluta culpa, omnis, impedit tenetur at suscipit. Molestias, tenetur laboriosam.
				<h3>visible-md-inline <small>visible-tamaño-inline o block</small></h3>
				<br>
				<h3>Quitar elementos cuando imprimes<small> hidden-print</small></h3>

				<a href="#" class="btn btn-primary visible-md-inline hidden-print" >Boton</a>

			</article>
			<aside class="visible-md visible color1 col-md-3 col-lg- col-sm-2 col-xs-0 ">

				<h3>Side bar <small>visible-lg visible tam grande</small></h3>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ipsam possimus enim nihil quis, cumque, blanditiis autem quasi, similique molestiae aliquid inventore numquam voluptates! Accusantium nostrum quos, inventore id eum.
			</aside>
		</section>




		<div class="row">
			<div class="color2 col-md-3 col-sm-6 col-xs-12 col-lg-3">
				<p>
					<h3>Contenido hola<small>Contenido</small></h3>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate assumenda laborum voluptatem saepe et delectus ipsam repudiandae, eligendi cupiditate dolores. Error eos officiis nemo aliquid, et tempora laborum est quas.
				</p>
			</div>
			<div class="color3 col-md-3 col-sm-6 col-xs-12 col-lg-3">
				<p>
					<h3>Contenido hola<small>Contenido</small></h3>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis ipsam repellat laborum dolor assumenda suscipit vero. Quo cupiditate quae consequuntur sed placeat, ipsam. Dolor quibusdam, blanditiis non hic! Facil
					is.
				</p>
			</div>
			<div class="color2 col-md-3 col-sm-6 col-xs-12 col-lg-3">
				<p>
					<h3>Contenido hola<small>Contenido</small></h3>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nobis dolore consequuntur iure iste corrupti dolores, dolorem omnis quas minima laboriosam, deleniti aut. Facilis perspiciatis a, reiciendis architecto, asperiores bland
					itiis.
				</p>
			</div>
			<div class="color3 col-md-3 col-sm-6 col-xs-12 col-lg-3">
				<p>
					<h3>Contenido hola<small>Contenido</small></h3>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum atque, molestias ullam dolor deleniti obcaecati odio eaque maiores delectus expedita reprehenderit eligendi tempora repellat animi facilis aliquam. Autem, vero, exerci
					tationem.
				</p>
			</div>
		</div>
	</div>
	<footer>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil alias laudantium quo atque tenetur nemo asperiores aliquam magnam libero quas, totam pariatur beatae dolor debitis reiciendis tempore illum quasi adipisci.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero esse ab aliquid praesentium dolores rem harum nisi sequi. Reprehenderit laborum ab, odit pariatur deleniti quis. Excepturi ad ducimus quae, aliquid.</p>
	</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>