



<h1>HOla <small>ghsjdklfghjskdl</small></h1>

<small>Probando texto</small>



<p>
	Sin clase lead
</p>


<p class="lead">
	<mark>
		CLASE LEAD AGRANDA EL TEXTO
		el mark marca el texto
	</mark>
</p>
<del>
	

	tacha el texto


</del>



<div class="text-right">
	<h1>Alineamos el texto amigo con ELEMENTO.text-ringht</h1>
	<ins>
		ins subrayado
	</ins>

	<small>
		letras pequeñas
	</small>
	<strong>
		NEGRITAS SE HACE CON strong
	</strong>
</div>



<p class="text-uppercase text-primary">
	TEXTO EN MINUSCULAS text-uppercase
</p>




<p class="text-capitalize">
	PAra poner letra mayuscula a una 
	HOsdjkflhasdf. asdjflhasdjkf asdjklfhasdj. dsjkfhasjkl
</p>

<br>
<code>
	codigo en html

</code>

<br>
<br>
<br>
<pre > 
	etiqueta pre es para esto 
	INCRUSTAR CONTENIDO EN LAS LETRAS
</pre>

<br>
<br>
<br>
<br>
<br>


<p class="bg-primary">
	class bg-primary inserta un color de fondo en la imagen
</p>











 




















